.offer
    background: url('../img/offer.png') no-repeat
    background-size: contain 
    background-position: center right
    padding: 55px 0 92px 6px
    position: relative
    &:before
        position: absolute
        content: ''
        width: 50%
        height: 100%
        background-color: white
        left: 0
        top: 0
    &-block
        position: relative
        width: 50%
        padding-right: 90px
    &__title
        max-width: 360px
        line-height: 35px
        margin-bottom: 19px
    &__subtitle
        display: block
        max-width: 232px
        margin-bottom: 30px
    &__input
        margin-bottom: 30px
        width: 240px
        min-height: 65px
        &:first-child
            margin-right: 10px
        &:focus
            border: 1px solid $border-focus
            outline: none   
    &__button
        width: 100% 
        min-height: 70px
        margin-bottom: 0px
        +bold
    &__info
        display: flex
        justify-content: space-between
        align-content: center
        width: 100%
        font-size: 15px
        +reg
    &__contact
        display: block
        max-width: 225px
        line-height: 24px 
    &__form
        margin-bottom: 31px
    &__phone
        font-size: 15px
        text-decoration: none
        color: $text-color
        +bold

@media (max-width: 1200px)
    .offer
        background-size: cover
        &__input
            width: 100%
            margin-bottom: 10px
        &__button
            font-size: 13px
@media (max-width: 567px)
    .offer
        &__info
            display: block  
        &__contact
            max-width: 225px    
            margin-bottom: 10px              
@media (max-width: 768px)
    .offer
        padding: 10px
        background: white
        &-block
            width: 100%
            padding-right: 0
@media (max-width: 320px)
    .offer
        padding: 10px
        &__title
            font-size: 18px
            line-height: 1.5
        &__info
            display: block                                          
        &__contact
            width: 100%
            margin-bottom: 10px
