.portfolio
    padding-top: 89px
    padding-bottom: 29px
    background: $background-color url('../img/portfolio-background.jpg') repeat-y center left  
    background-size: 50%
    &__title
        margin: auto
        text-align: center
        max-width: 787px
        margin-bottom: 93px
        line-height: 44px
    &-arrows
        text-align: center
        margin-top: 69px
.slider
    &-item
        margin: auto   
  
@media (max-width: 800px) 
    .slider
        &-item
            max-width: 370px
            max-height: 280px
    .portfolio
        &__title
            font-size: 24px        
            line-height: 35px

@media (max-width: 768px)
    .portfolio
        background: $background-color
        background-size: 100%

@media (max-width: 320px)
    .portfolio
        padding: 38px 0 15px 0
        &__title
            max-width: 271px
            font-size: 18px
            margin-bottom: 39px
            line-height: 1.27
        &-arrows
            margin-top: 46px 
    .slider
        &-item
            max-width: 246px
            max-height: 186px
    .owl-nav
        margin-top: 46px                  