.portfolio
    padding-top: 100px
    padding-bottom: 100px
    background: $background-color url('../img/portfolio-background.jpg') repeat-y center left  
    background-size: 50%
    &__title
        margin: auto
        text-align: center
        max-width: 787px
        margin-bottom: 99px
    &-arrows
        text-align: center
        margin-top: 69px

.slider
    &__image
        margin: auto               

@media (max-width: 320px)
    .portfolio
        &__title
            max-width: 271px
            font-size: 18px
            margin-bottom: 41px
        &-arrows
            margin-top: 46px        